body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  /* justify-content: space-between; */
  flex-direction: column;
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
  display: flex;
  font-size: 32px;
  font-weight: 900;
  /* align-content: center; */
  align-items: center;
  padding-left: 16px;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
  display: flex;
  /* align-content: center;
  text-align: center; */
  align-items: center;
  justify-content: center;
}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
}

.center {
  flex: 1;
  display: flex;
  /* justify-content: space-between; */
}

.sidebar {
  /* max-width: 300px; */
  padding: 16px;
  /* flex: 0 0 auto; */
  flex-shrink: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 16px;
}

a {
  text-decoration: none;
  font-size: 24px;
  color: white;
}

.cardset {
  display: flex;
  padding: 48px;
  flex-wrap: wrap;
  gap: 32px;
}

.card {
  max-width: 300px;
  /* margin: 16px; */
  padding: 16px;
}